.skyLogo {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	margin: 10px;
	padding: 50px 50px 10px;
	border: none;
	font: normal 16px/normal "Times New Roman", Times, serif;
	color: rgba(255,255,255,0.9);
	text-indent: 4px;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: url("../images/sky-logo-redesign.png");
	background-repeat: no-repeat;
	background-position: auto 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto 42px;
	background-size: auto auto;
}

.top-bar {background-color: #efefef}
.top-bar .name a {color: #000000 !important;}
.footerLinks {list-style-type: none !important;}

.fa {color:dodgerblue}

.bg-grey {background-color:#f4f4f4}

.property {padding-top: 10px}

#example {margin-bottom: 15px;}